/*#E0BBC0, #FAF7F8, #7E7E7E, #C61618, #5E4648*/
/* pink     white    grey     red      brown*/
body:not(.responsive) #site-root {
    min-width: unset;
}
body #masterPage {
    min-width: unset;
}
body #SITE_HEADER {
    min-width: unset;
}
body #comp-k35wqedo {
    min-width: unset;
    width: 100%;
    margin-top: 0;
}
#comp-k35wqedo3,
#comp-kpwb079y,
#comp-k35wqedo4 {
    display: none;
}
#comp-k35wqedo1 #comp-k35wqedo2 {
    height: 60px;
    margin: 2px;
}
#img_comp-k35wqedo2 {
    width: 120px;
}
#comp-k35wqedo5 > div:nth-child(2) > div {
    min-height: unset;
    display: block;
}
#comp-k57yzzvw,
#comp-k3y9ko9g {
    display: none;
}
#comp-k35wqedo11,
#comp-k35wr5vd {
    display: none;
}
body #PAGES_CONTAINER,
body #SITE_PAGES {
    min-width: unset;
}
body #g26rr {
    min-width: unset;
}
#Containerg26rr > div > div {
    display: block;
}
#Containerg26rr > div > div > *:nth-child(1) {
    display: none;/*FME*/
}
#Containerg26rr > div > div > *:nth-child(5) {
    display: none;/*FME*/
}
#Containerg26rr > div > div > *:nth-child(9) {
    display: none;/*FME*/
}
body #comp-kwmw8dpj {
    min-width: unset;
}
body #comp-k2zvx5ex {
    min-width: unset;
}
body #comp-k2zvx5ey1 {
    width: 100%;
    margin: 12px 0;
    position: static;
}
body #comp-k2zvx5ey2 {
    width: unset;
    min-width: unset;
    margin: 0 0 20px 0;
    position: static;
}
body #comp-k2zzj2r2 {
    min-width: unset;
}
#comp-k2zzj2r21 > div[data-mesh-id] > div > section {
    min-width: unset;
    width: 100%;
}
body #comp-k2zzj2r22 {
    margin: 18px 0 12px;
}
body #comp-k2zw2c5o {
    min-width: unset;
    margin-bottom: 0;
}
#comp-k2zw2c5o1 > div[data-mesh-id] > div {
    min-height: unset;
}
#comp-k2zw2c5o1 > div[data-mesh-id] #comp-k2zw2c5o2 {
    margin: 18px 0 12px;
    position: static;
    width: 100%;
}
#BACKGROUND_GROUP {
    display: none;
}
#SITE_HEADER > div:nth-child(2) > div:first-child {
    display: none;
}
body #comp-k2zwi8z4 {
    min-width: unset;
    margin-top: unset;
}
body #comp-k38kpzvz {
    min-width: unset;
}
body #SITE_FOOTER {
    min-width: unset;
}
body #comp-k458v8ic {
    position: absolute;
    left: unset;
    right: 0;
    top: 0;
}
body #comp-k2z4skts,
body #comp-kznjsvcw {
    margin: 0;
    left: 0;
    width: auto;
}
body #comp-k2z4u4y5 {
    min-width: unset;
}
body #comp-k2yixppu2 {
    width: 100%;
    margin-left: 0;
    position: static;
}
body #comp-kwcxahsd {
    margin: 0;
    left: 0;
    width: 100%;
}
body #comp-lgozbhha {
    display: block;
    margin: 7px 12px 0 0;
    width: unset;
    position: static;
    float: right;
}
#comp-lgozbhha > div:nth-child(2) {
    width: unset;
}
#comp-lgozbhha > div:nth-child(2) > div {
    display: block;
    position: absolute;
    top: 56px;
    right: 0;
    z-index: 10;
    width: unset;
    padding: 6px 0;
    background: #FAF7F8;
    box-shadow: 8px 8px 8px #5E4648; /*FME*/
}
body #comp-lhvmen3w,
body #comp-lhvmcvjb {
    position: absolute;
    top: -56px;
    right: 0;
    left: unset;
    width: unset;
    height: unset;
    margin: 0;
}
body #comp-lhvmen3w {
    display: none;
}
#comp-lhvmen3w button,
#comp-lhvmcvjb button {
    width: 50px;
    height: 50px;
}
#comp-lhvmcvjb button:before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 10px;
    right: 10px;
    border-top: 2px solid #7E7E7E;
    border-bottom: 1px solid #7E7E7E;
    height: 9px;
}
#comp-lhvmcvjb button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    height: 9px;
    border-top: 1px solid #7E7E7E;
    border-bottom: 2px solid #7E7E7E;
}
#comp-lhvmen3w button:before {
    content: "";
    position: absolute;
    height: 28px;
    bottom: 11px;
    right: calc(50% - 1px);
    border-right: 2px solid #7E7E7E;
    transform: rotate(45deg);
}
#comp-lhvmen3w button:after {
    content: "";
    position: absolute;
    width: 28px;
    left: 11px;
    top: calc(50% - 1px);
    border-top: 2px solid #7E7E7E;
    transform: rotate(45deg);
}
body #comp-lhvmen3w .stButton2__root .StylableButton2545352419__label,
body #comp-lhvmen3w:hover .stButton2__root .StylableButton2545352419__label,
body #comp-lhvmcvjb .stButton2__root .StylableButton2545352419__label,
body #comp-lhvmcvjb:hover .stButton2__root .StylableButton2545352419__label {
    color: transparent;
}
body #comp-lgozhmdf {
    display: block;
    width: unset;
    height: unset;
}
body #comp-lgozhmdfnavContainer {
    position: static;
}
body #comp-lgozhmdf > nav > ul {
    height: unset;
    position: static;
    /*background: #FAF7F8;*/
}
body #comp-lgozhmdf > nav > ul li {
    display: block;
    height: 50px !important;
    position: static !important;
    visibility: unset !important;
    width: 130px !important;
}
body #comp-lgozhmdf > nav > ul li p {
    line-height: 50px;
    text-align: left !important;
    padding: 0 0 0 12px;
    width: 100%;
    border-left: 4px solid transparent;
    box-sizing: border-box;
}
body #comp-lgozhmdf > nav > ul li:hover p {
    border-color: #C61618;
}
body #comp-lgozhmdf > nav > ul li#comp-lgozhmdf__more__ {
    display: none;
}
body #comp-lgozhmdfdropWrapper {
    right: calc(100% + 6px) !important;
    top: 170px !important;
}
body #comp-lgozhmdfdropWrapper.lowhover {
    top: 270px !important;
}
body #comp-lgozhmdfdropWrapper:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-top: 3px solid #FAF7F8;
    border-left: 3px solid #FAF7F8;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
body #comp-lgozhmdfdropWrapper ul {
    background: #FAF7F8;
    box-shadow: 8px 8px 8px #5E4648;
    padding: 6px 0;
}
body #comp-lgozhmdfdropWrapper ul li {
    width: 190px;
    height: 50px;
}
body #comp-lgozhmdfdropWrapper ul li p {
    line-height: 50px !important;
    width: 100%;
    box-sizing: border-box;
    border-right: 4px solid transparent;
    text-align: right !important;
    padding: 0 12px 0 0;
}
body #comp-lgozhmdfdropWrapper ul li:hover p {
    border-color: #C61618;
}
body #comp-lgozbhha #comp-lhovqebn {
    position: static;
    margin: 0;
    /*background: #FAF7F8;*/
    width: 100%;
}
body #comp-lgozbhha #comp-lhovqebn > div {
    width: 100%;
}
body #comp-lgozbhha #comp-lhovxgoy {
    width: 100%;
    height: 50px;
    position: static;
    margin: 0;
}
body #comp-lgozbhha #comp-lhovxgoy > div > div > div {
    border: none;
    background-color: transparent;
}
body #comp-lgozbhha #comp-lhovxgoy > div > div > div > div:first-child {
    display: none;
}
body #comp-lgozbhha #comp-lhovxgoy > div > div > div:last-child {
    position: absolute;
    right: calc(100% + 6px);
}

